<h1>Investor Management</h1>
<div style="text-align:center">
  <ul>
    <li *ngFor='let item of investors'>Investor id : {{item.id}}<br/> Investor Cash : {{item.cash}}</li>
  </ul>
</div>
<div>
  <button (click)='getAllHandler()'>Get All</button>
</div>
<div>
  <label>ID</label>
  <input [(ngModel)]='selectedId' placeholder="Enter required ID">
  <button (click)='getByIdHandler()'>Get</button>
</div>
<div>
  <label>ID</label>
  <input [(ngModel)]='selectedId' placeholder="Enter required ID">
  <button (click)='deleteByIdHandler()'>Delete</button>
</div>
<div>
  <label>Cash</label>
  <input [(ngModel)]='cash' placeholder="Enter required cash">
  <button (click)='createHandler()'>Create</button>
</div>

